<!-- modules/isometric-perspective/templates/scene-config.html -->
<div class="tab" data-tab="isometric">
    <div class="form-group">
        <label>Enable Isometric Perspective for this Scene</label>
        <input type="checkbox" id="isometricEnabled" name="isometricEnabled">
    </div>
    <div class="form-group">
        <label>Transform Background Image</label>
        <input type="checkbox" id="isometricBackground" name="isometricBackground">
        <p class="notes">Apply isometric transformation to the background image</p>
    </div>
</div>